<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrzhgn.personaanalysis">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Варвара"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uplift"
        android:usesCleartextTraffic="true">
        <activity android:name="com.mrzhgn.personaanalysis.AboutActivity" />
        <activity android:name="com.mrzhgn.personaanalysis.MainActivity" />
        <activity
            android:name="com.mrzhgn.personaanalysis.SplashActivity"
            android:theme="@style/Theme.Uplift.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mrzhgn.personaanalysis.AfterSplashActivity" />
        <activity android:name="com.mrzhgn.personaanalysis.SecondSplashActivity" />
        <activity android:name="com.mrzhgn.personaanalysis.ArtplayActivity" />
        <activity android:name="com.mrzhgn.personaanalysis.AuthenticationActivity" />
        <activity android:name="com.mrzhgn.personaanalysis.RegistrationActivity" />
        <activity android:name="com.mrzhgn.personaanalysis.SignActivity" />
        <activity android:name="com.mrzhgn.personaanalysis.SupportActivity" />
        <activity android:name="com.mrzhgn.personaanalysis.SuccessActivity" />
    </application>

</manifest>